@charset 'utf-8';

:root {
  --mw: 1440px;
  --gap1: 16px;
  --gap2: 8px;
  --font_jua1: "Jua", sans-serif;
  --font_Noto_l_300: "Noto Sans", sans-serif;
  --font_Noto_r_400: "Noto Sans", sans-serif;
  --font_Noto_m_500: "Noto Sans", sans-serif;
  --font_Noto_b_700: "Noto Sans", sans-serif;
  --font_c1: #828282;
  --fontsize_nav: 24px;
  --contents_back: #f5f5f5;
}
body {
  background: url(./images/backimage.png);
  background-color: #ebebeb;
}
.wrap {
  overflow: hidden;
}
.mw {
  /* border: 1px solid red; */
  max-width: var(--mw);
  width: calc(100% - 8rem);
  margin: auto;
}

/* .top_fun > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.top_icon {
  text-align: right;
  padding: 0.5rem 0;
} */
.top_fun > * {
  /* border: 1px saddlebrown solid; */
}
.top_fun {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 1rem 0;
  font-family: var(--font_jua1);
  font-size: 32px;
}
.logo a {
  color: var(#000000);
  padding: 1rem;
}
.top_icon {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.top_icon > div {
  padding: var(--gap2);
  cursor: pointer;
  margin-left: var(--gap2);
  color: #687070;
  font-family: var(--font_Noto_r_400);
  font-weight: 400;
  transition: 0.3s;
}
.top_icon > div:hover {
  color: #000000;
}
.top_nav {
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.top_nav a {
  /* border: 1px solid red; */
  /* display: inline-block; */
  padding: var(--gap2) calc(var(--gap1) * 2);
  color: #000000;
  font-family: var(--font_jua1);
  font-size: var(--fontsize_nav);
  position: relative;
  white-space: nowrap;
}
.top_nav a:nth-child(1):hover {
  color: #f599cd;
}
.top_nav a:nth-child(2):hover {
  color: #f5ca16;
}
.top_nav a:nth-child(3):hover {
  color: #0054d4;
}
.top_nav a:nth-child(4):hover {
  color: #f56900;
}
.top_nav a:nth-child(5):hover {
  color: #f5ca16;
}
.top_nav a:hover img {
  opacity: 1;
}
.top_nav span {
  position: relative;
  z-index: 1;
}
.top_nav img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  /* display: none; */
  opacity: 0;
  transition: 0.3s;
}

.banner {
  border: 2px solid var(--font_c1);
  border-radius: 10px;
  /* height: 430px; */
  padding: calc(var(--gap1) * 2);
  padding-top: 0;
  margin-top: calc(var(--gap1) * 6);
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: rgba(255, 255, 255, 0.4);
}

.banner_title {
  width: 100%;
  text-align: center;
  transform: translateY(-50px);
}
.banner > * {
  /* border: 1px solid red; */
}

.minute1,
.h_tooth {
  border: 2px solid var(--font_c1);
  width: 35%;
  font-family: var(--font_Noto_r_400);
  font-weight: 400;
  font-size: 20px;
  padding: calc(var(--gap1) * 2);
  line-height: 2rem;
  position: relative;
}

.banner .more {
  position: absolute;
  right: 10%;
  top: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.minute1 {
  background-color: var(--contents_back);
  border-radius: 15px;
}
.minute1::before {
  content: "";
  position: absolute;
  width: 50%;
  padding-top: 25%;
  left: -80px;
  top: -50px;
  background-image: url(./images/1분뉴스타이틀.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.minute1 a,
.h_tooth a {
  /* border: 1px solid lightblue; */
  display: block;
}

.h_tooth {
  background-color: var(--contents_back);
  border-radius: 15px;
}

.h_tooth::before {
  content: "";
  position: absolute;
  width: 50%;
  padding-top: 25%;
  right: -110px;
  top: -70px;

  background-image: url(./images/고슴이의덧니타이틀.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn_service {
  width: 28%;
  text-align: right;
  position: relative;
  padding-top: 25%;
}
.btn_service::before {
  content: "";
  position: absolute;
  padding-top: 30%;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: -50px;
  background-image: url(./images/배너_구독유도.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right bottom;
  /* border: 1px solid lightgreen; */
}

/* slide */

.slide {
  /* border: 5px solid lightsalmon; */
  margin-top: calc(var(--gap1) * 4);
  position: relative;
}
.recent_title {
  position: absolute;
  top: -20%;
  left: -6%;
}
.news_recent {
  /* border: 1px solid red; */
}
.news_recent .swiper-slide {
  /* border: 1px solid red; */
}
.news_recent img {
  width: 100%;
}

.next1 {
  position: absolute;
  top: 60%;
  right: -3rem;
  color: #000000;
}
.prev1 {
  position: absolute;
  top: 60%;
  left: -3rem;
  color: #000000;
}

/* contents */

.contents {
  margin-top: calc(var(--gap1) * 3);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.contents button {
  position: absolute;
  top: 10px;
  right: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.pizza,
.quiz {
  border: 2px solid var(--font_c1);
  background-color: var(--contents_back);
  border-radius: 15px;
  width: 45%;
  /* height: 100px; */
  font-family: var(--font_Noto_m_500);
  font-weight: 500;
  padding: 30px;
  position: relative;
}
/* .pizza button {
  position: absolute;
  top: 10px;
  right: 10px;
} */

/* .pizza {
  position: absolute;
  top: 10px;
} */
.pizza::before {
  content: "";
  position: absolute;
  width: 180px;
  padding-top: 15%;
  top: -65px;
  left: -85px;
  background-image: url(./images/피자스테이션타이틀.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
}
.quiz {
  position: absolute;
  bottom: 20px;
}
.quiz::after {
  content: "";
  width: 180px;
  padding-top: 15%;
  position: absolute;
  top: -50px;
  right: 85px;
  background-image: url(./images/뉴닉퀴즈타이틀.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 1px solid red; */
}

.quiz::before {
  content: "";
  width: 180px;
  /* border: 1px solid red; */
  padding-top: 20%;
  position: absolute;
  top: -120px;
  background-image: url(./images/고슴이기다려.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.insta {
  border: 2px solid var(--font_c1);
  width: 50%;
  height: 90%;
  /* position: absolute;
  top: 10px;
  bottom: 20px;
  right: 0; */
  border-radius: 15px;
  background-color: var(--contents_back);
}
.insta_con h3 {
  padding: 10px;
  font-family: var(--font_Noto_b_700);
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}
.insta_con ul {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  align-items: center;
  padding: 1rem;
}
.insta_con li {
  width: 30%;
}

.insta_con img {
  width: 100%;
}

/* premium */

.premium {
  /* border: 1px solid blueviolet; */
  margin: auto;
  position: relative;
}
.premium h3 {
  /* border: 1px solid blue; */
  height: 10%;
  font-family: var(--font_Noto_b_700);
  font-weight: 700;
  font-size: 20px;
  padding: 10px 0 0 10px;
}
.premium button {
  position: absolute;
  top: 5px;
  right: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.premium h4 {
  line-height: 4rem;
}
.pre_con {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.pre_con > div {
  border: 2px solid var(--font_c1);
  border-radius: 15px;
  width: 32%;
  padding: 1.25rem;
  position: relative;
  background-color: var(--contents_back);
}
.pre_con h4 {
  font-family: var(--font_Noto_b_700);
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
.pre_con span {
  font-family: var(--font_Noto_r_400);
  font-weight: 400;
  font-size: 20px;
  color: var(--font_c1);
}

.pre_con > div::before {
  content: "";
  padding-top: 10%;
  width: 30%;
  height: 50px;
  position: absolute;
  right: -20px;
  bottom: -30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  /* border: 1px solid red; */
}
.con_1::before {
  background-image: url(./images/재테크.png);
}
.con_2::before {
  background-image: url(./images/주식.png);
}
.con_3::before {
  background-image: url(./images/인문학.png);
}

/* footer */

.foot_all {
  border-top: 2px solid var(--font_c1);
  padding-top: 20px;
  margin-top: 50px;
  display: flex;
}
/* .foot_all {
  border: 1px solid blue;
  margin-top: 50px;
} */
.foot_1 {
  /* border: 1px solid blue; */
  font-family: var(--font_Noto_l_300);
  font-weight: 300;
  font-size: 12px;
  color: #000000;
}
.foot_2,
.sns {
  font-family: var(--font_jua1);
  font-size: 12px;
  display: flex;

  width: 45%;
}
.foot_2 {
  /* border: 1px solid red; */
  justify-content: space-around;
  margin-left: 10%;
  padding-right: 0;
}
.foot_2 span {
}

.sns {
  /* border: 1px solid palegreen; */
  width: 20%;
  margin-left: 10%;
}

.sns > * {
  margin-left: 16%;
}

.ham {
  display: none;
}
/* media */
@media (max-width: 1100px) {
  .ham {
    display: block;
    padding: 0.75em;
    margin: 0.5rem 1rem;
    border-radius: 10px;
    background-color: var(--contents_back);
  }

  .wrap {
    background-color: #f1e6d6;
  }
  .mw {
    width: calc(100% - 2rem);
  }
  .top_fun {
    background-color: #000000;
    border-radius: 10px;
  }

  .logo a {
    color: var(--contents_back);
  }

  .top_icon {
    display: none;
  }

  .top_nav {
    display: none;
  }
  .top_nav.on {
    position: absolute;
    width: 100%;
    left: 0;
    height: calc(100vh - 100px);
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 3rem;
    background-color: #ebebeb;
  }
  .top_nav a {
    padding: 2rem 0;
    font-size: 1.25rem;
    text-align: center;
  }
  .banner_title {
    display: none;
  }
  .h_tooth {
    margin-top: 2rem;
    width: 70%;
  }
  .minute1,
  .h_tooth {
    font-weight: 700;
  }
  .minute1,
  .h_tooth .btn_service {
    width: 100%;
    margin-top: 2rem;
    position: relative;
  }
  .minute1::before {
    width: 150px;
    /* margin-left: 30px; */
    position: absolute;
    top: -70px;
    left: -45px;
  }
  .h_tooth::before {
    width: 150px;
    position: absolute;
    top: -60px;
    right: -50px;
  }
  /* .minute1::before,
  .h_tooth::before {
    width: 120px;
  } */
  .btn_service {
    height: 25%;
    /* background-color: #0054d450; */
    position: absolute;
    right: 0;
  }
  .btn_service::before {
    width: 100%;
    background-size: contain;
    /* border: 1px solid blue; */
  }
  .news_recent {
    width: 80%;
  }
  .recent_title {
    /* border: 1px solid blue; */
    width: 13%;
    position: absolute;
    top: -25%;
    left: 20px;
  }

  .contents > * {
    position: relative;
    width: 100%;
    margin: 3rem;
  }
  .pizza,
  .quiz {
    padding: 4rem 0;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
  }
  .pizza::before {
    position: absolute;
    left: -10px;
  }

  .pre_con {
    flex-wrap: wrap;
    margin: 1rem;
  }

  .pre_con > div {
    width: 100%;
    margin-top: 3rem;
  }
  .foot_1 p {
    display: none;
  }
  .foot_1 span {
    font-size: 16px;
    font-weight: 500;
  }
}
