@charset 'utf-8';

:root {
  --mw: 1440px;
  --gap1: 16px;
  --gap2: 8px;
  --font_jua1: "Jua", sans-serif;
  --font_Noto_l_300: "Noto Sans", sans-serif;
  --font_Noto_r_400: "Noto Sans", sans-serif;
  --font_Noto_m_500: "Noto Sans", sans-serif;
  --font_Noto_b_700: "Noto Sans", sans-serif;
  --font_c1: #828282;
  --fontsize_nav: 24px;
  --contents_back: #f5f5f5;
}
body {
  background: url(./images/backimage.png);
  background-color: #ebebeb;
}
.hd {
  /* border: 1px solid red; */
  max-width: var(--mw);
  margin: auto;
}

/* .top_fun > button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .top_icon {
    text-align: right;
    padding: 0.5rem 0;
  } */
.logo {
  font-family: var(--font_jua1);
  font-size: 32px;
}

.top_icon {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}
.top_icon > div {
  padding: var(--gap2);
  cursor: pointer;
  margin-left: var(--gap2);
  color: #687070;
  font-family: var(--font_Noto_r_400);
  font-weight: 400;
  transition: 0.3s;
}
.top_icon > div:hover {
  color: #000000;
}
.top_nav {
  text-align: center;
}
.gnb {
  /* display: flex;
    flex-grow: 1;
    padding-left: calc(var(--gap1) * 2); */
}

.gnb a {
  /* border: 1px solid red; */
  display: inline-block;
  padding: var(--gap2) calc(var(--gap1) * 2);
  color: #000000;
  font-family: var(--font_jua1);
  font-size: var(--fontsize_nav);
  position: relative;
}
.gnb a:nth-child(1):hover {
  color: #f599cd;
}
.gnb a:nth-child(2):hover {
  color: #f5ca16;
}
.gnb a:nth-child(3):hover {
  color: #0054d4;
}
.gnb a:nth-child(4):hover {
  color: #f56900;
}
.gnb a:nth-child(5):hover {
  color: #f5ca16;
}
.gnb a:hover img {
  opacity: 1;
}
.gnb span {
  position: relative;
  z-index: 1;
}
.gnb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53%);
  /* display: none; */
  opacity: 0;
  transition: 0.3s;
}

/* news menu */
.news_nav {
  position: relative;
}
.news_menu {
  /* border: 1px solid red; */
  width: 620px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font_Noto_b_700);
  font-weight: 700;
  color: #000000;
}

/* 고슴이 */

.news_menu::before {
  content: "";
  padding-top: 7%;
  width: 10%;
  position: absolute;
  top: 150px;
  left: 550px;
  background-image: url(./images/고슴이장식.png);
  background-size: contain;
  background-repeat: no-repeat;
}
/* news contects */

.news_con {
  width: var(--mw);
  margin: auto;
  /* border: 1px solid blue; */
}

.news_con div {
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.news_con img {
  margin: px;
}

/* footer */

footer {
  border-top: 2px solid var(--font_c1);
  width: var(--mw);
  margin: auto;
  padding-top: 20px;
  display: flex;
}

.foot_1 {
  /* border: 1px solid blue; */
  font-family: var(--font_Noto_l_300);
  font-weight: 300;
  font-size: 12px;
  color: #000000;
}
.foot_2,
.sns {
  font-family: var(--font_jua1);
  font-size: 12px;
  display: flex;

  width: 45%;
}
.foot_2 {
  /* border: 1px solid red; */
  justify-content: space-around;
  margin-left: 10%;
  padding-right: 0;
}
.foot_2 span {
}

.sns {
  /* border: 1px solid palegreen; */
  width: 20%;
  margin-left: 10%;
}

.sns > * {
  margin-left: 16%;
}
